body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(image/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: crimson;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: crimson;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #af5b17;
}

.header-down {
    position: relative;
}

.header-title {
    color: #D67E35;
    font-family: "Tinos", serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.header-suptitle::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 129px;
    left: 45px;
}

.header-suptitle::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 129px;
    left: 324px;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 27px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700px;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #a35210;
}


.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
}

.card-title span {
    color: #FF7400;
    margin-left: 4px;
}

.card-description {
    text-align: center;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}


.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    width: 460px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #FF7400;
}

.history-description {
    color: #656363;
    font-size: 16px;
    width: 460px;
    text-align: center;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    display: block;
    color: #000;
}

.history-images{
    position: relative;

}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.imges-1 {
    position: absolute;
    z-index: 0;
    top: 152px;
    left: -426px;
}

.imges-2 {
    position: absolute;
    z-index: 999;
    top: -34px;
    left: -186px;
}

.imges-3 {
    position: absolute;
    z-index: 999;
    top: 276px;
    left: -143px;
}




.black-block {
    background-image: url(image/backjpg.jpg);
    padding: 80px 0;
}

.left-title {
    color: #D67E34;
    font-family: "Tinos", serif;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 20px;
}

.left-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.right-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.right-btn:hover {
    background-color: #af5b17;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes-title span {
    color: #D67E34
}

.burgers {
    display: flex;
    justify-content: center;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.burger-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    margin-left: 20px;
}

.imagedish1 {
    position: absolute;
    z-index: 1;
    top: 2455px;
    left: 1019px;
}




.menu {
    background-image: url(image/menu-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px
}

.menu-subtext {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.menu-btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 14px 65px;
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.menu-button {
    margin-top: 20px;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 36px;
}

.menu-image {
    position: relative;
}

.price-num {
    position: absolute;
    bottom: 31px;
    right: 62px;
    color: #fff;
    font-size: 30px;
}

.price-num2 {
    position: absolute;
    bottom: 31px;
    right: 68px;
    color: #fff;
    font-size: 30px;
}

.price-num3 {
    position: absolute;
    bottom: 31px;
    right: 68px;
    color: #fff;
    font-size: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
}




.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
}

.comment-text {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 20px;
}

.comment-image {
    text-align: center;
}

.comment-type {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.comment-name {
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}




.galery-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
}

.galery-title span {
    color: #D67E35;
}

.galery-content {
    display: flex;
    justify-content: center;

}

.galery-left {
    margin-right: 30px;
}

.galery-down,
.galery-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}





.cook-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.cook-title span {
    color: #D67E35;
}

.cook-image {
    display: flex;
    justify-content: space-around;
}

.cook {
    padding-bottom: 100px;
}





.footer {
    background-color: #000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
}