body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(image/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: crimson;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: crimson;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #af5b17;
}

.header-down {
    position: relative;
}

.header-title {
    color: #D67E35;
    font-family: "Tinos", serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.header-suptitle::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 129px;
    left: 45px;
}

.header-suptitle::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 129px;
    left: 324px;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 27px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700px;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #a35210;
}


.cards-holder {
    color: #fff;
}

.card {
    background-color: #d4d4d4;
    width: 33%;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-description {
    display: flex;
    justify-content: center;
}